<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <link href="static/CSS/styles.css" rel="stylesheet">
        <link rel="icon" href="static/assets/favicon.png">

        {% block scripts_head %}
        {% endblock %}

        <title>MovieNight: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <div id="main" class="container">
            <div id="movienight" class="waviy">
                <span style="--i:1">M</span>
                <span style="--i:2">O</span>
                <span style="--i:3">V</span>
                <span style="--i:4">I</span>
                <span style="--i:5">E</span>
                <span style="--i:6">N</span>
                <span style="--i:7">I</span>
                <span style="--i:8">G</span>
                <span style="--i:9">H</span>
                <span style="--i:10">T</span>
            </div>
            <br><br>
            {% block main_col %}
            <form action="/search" method="get" id="search-form">
                <div class="row gx-5 gy-4">
                    <div class="col">
                        <input name='movie0' id="movie0" type="text" class="form-control" placeholder="Movie Name" required autocomplete="off">
                    </div>
                    <div class="col">
                        <input name='movie1' id='movie1'type="text" class="form-control" placeholder="Movie Name" required autocomplete="off">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-outline-primary w-50 ">
                                <!-- Load status is a class used for all loading indicators -->
                                <span class="spinner-border spinner-border-sm load-status display-hide"aria-hidden="true"></span> <strong>Search</strong>
                        </button>
                    </div>
                </div>
            </form>
            {% endblock %}
            <div class="container">
                <br>
                {% block formSearch %}
                {% endblock %}
            </div>
            <br>
            <div class="row row-cols-2 gx-5 gy-2">
                <div id='col_0' class="col">
                    {% block col_0 %}
                    {% endblock %}
                </div>
                <div id='col_1' class="col">
                    {% block col_1 %}
                    {% endblock %}
                </div>
            </div>
            {% block body %}
            {% endblock %}
            <br><br>
            <footer class="mb-5 small text-center">
                Made by <strong>Kareem Rashad</strong> 
                <a href="https://discord.com/channels/711320935365345281">Discord</a> 
                <a href="mailto:kareemrashad.sd@gmail.com">| kareemrashad.sd@gmail.com</a>
                <br> Api provided by Adrian Massimo from 
                <a href="https://rapidapi.com/SAdrian/api/moviesdatabase/">RapidApi</a>
            </footer>
        </div>
        <script src="static/JS/layout.js"></script>
        {% block scripts_body %}
        {% endblock %}
    </body>
</html>