{% extends 'layout.html' %}
{% block body %}
<div class="container text-start" id="questions">
    <h2>Questions</h2>
    <div class='mb-4 question' id="q0">
        <h5>0. Does the movie have to be family friendly?</h5>
        <input type="radio" class="btn-check q-option" name="options-base1" id="q0-option0" value="true" data-q-type="conditional" data-related-movie="">
        <label class="m-2 btn btn-outline-light" for="q0-option0">Yes</label>
        <input type="radio" class="btn-check q-option" name="options-base1" id="q0-option1" value="false"data-related-movie="">
        <label class="m-2 btn btn-outline-light" for="q0-option1">No</label>
    </div>
    <div class="footer">
        <button type="button" class="btn btn-outline-primary"><</button>
        <button type="button" class="btn btn-primary">></button>
    </div>
<!-------------------------------------------------------------------><br><br>

</div>
{% endblock %}

{% block scripts_body %}
<script src="static/helpers.js"></script>
<script src="tests/q.html_main.js"></script>
<script src="tests/questions_helpers.js"></script>
{% endblock %}
