{% extends 'search.html' %}

{% block main_col %}
{% if winner %}
<div class="row gx-5 gy-4" style="width:30%;">
        <div class="col">
            <img src="{{ winner['primaryImage']['url'] }}" class="img-fluid object-fit-cover rounded float-start " onerror="this.onerror=null; this.src='static/assets/noimage.jpg'">
            <h3>{{winner["titleText"]["text"] }} ({{winner["releaseYear"]["year"]}})</h3>
            <br>
            <!-- this was part of above button : data-index="""curly braces of jinja""loop.index0 " -->
        </div>

        <div class="col">
            <h3>WINNER</h3>
        </div> 
</div>
{% endif %}
{% endblock %}

<!-- Nothing, this simply overwrites whats in search.html -->
{% block excuse0 %}
{% endblock %}
{% block excuse1 %}
{% endblock %}
{% block scripts_body %}
{% endblock %}